* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 50vh;
  background: linear-gradient(#281c599a, #111844), url(images/IMG_0869.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner img {
  width: 100px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.banner h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 70px;
  padding-top: 150px;
}
.banner h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 40px;
}
